.Rproj.user
.Rhistory
.Rdata
.httr-oauth 
.quarto
/renv/
/tests/debug/
.Rprofile
docs
renv.lock
.obsidian/
/inst/Paper/
/inst/Paper/localjobs/ 
markeR.BiocCheck/ 
/doc/
/Meta/
markeR.Rproj
.DS_Store
**/.DS_Store
pkgdown
_pkgdown.yml