.Rproj.user
.Rhistory
.Rdata
.httr-oauth 
.quarto
/renv/
/tests/debug/
.Rprofile
docs
renv.lock
.obsidian/
markeR.BiocCheck/ 
/doc/
/Meta/
markeR.Rproj
.DS_Store
**/.DS_Store 
inst/doc
data_aux
markeR.Rcheck 
